@import '../../utils/media/media-queries.scss';

.todo-tag {
	margin: 10px;
	white-space: pre-wrap;
	max-width: 80vw;
	word-break: break-all;
}

.todo-item {
	display: flex;
	align-items: flex-start;
}

.switch {
	margin: auto;
	align-items: center;
	justify-content: center;
}

@media #{$tablet} {
	.todo-item {
		.todo-tag {
			max-width: 500px;
		}
	}
}

@media #{$desktop} {
	.todo-item {
		.todo-tag {
			max-width: 100%;
		}
	}
}
