.todo-tag 
  margin: 10px
  white-space: pre-wrap
  max-width: 80vw
  word-break: break-all

.todo-item 
  display: flex
  align-items: flex-start

.switch
  margin: auto
  align-items: center
  justify-content: center